# ---------------------------------------------------------------------------------------------------------------
                                              Location in & out ID
                                               Final Version Code
# ---------------------------------------------------------------------------------------------------------------

# Importing the required packages & Establishing the Connection  with SQL

In [1]:
import os
import pyodbc
import pandas as pd
import numpy as np
import shutil
from datetime import date
import time
import sqlalchemy as sa
import urllib


server = 'tcp:sqlserverprod'
database = 'QualCommSatelliteData'
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes;')
cursor = conn.cursor()

server = 'tcp:sqlserverprod'
database = 'Reporting'
conn1 = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes;')
cursor1 = conn1.cursor()

# Extracting the data From the SQL Server

In [2]:
QC1 = pd.read_sql_query(''' with cteEq as
(select v.EquipmentID
from QualCommSatelliteData.dbo.TruckQCEquipment_Vw v
),
cte as (
select max(A.QCVehiclePositionReportID_Entry) as QCEntry, A.EquipmentID
From Reporting.dvlpr.TruckGeofenceInOut A with (Nolock)
group by A.EquipmentID)

 
select cte.QCEntry,B.QCVehiclePositionReportID, B.EquipmentID, Convert(datetime,EventTS) as EventTSUTC, 
(case when FC.PolygonUpdatedBy is not null then C.FM_LocID else NULL end) FM_LocID
from QualCommSatelliteData.dbo.QCVehiclePositionReport B with (Nolock)
left join QualCommSatelliteData.dbo.QCVehicleLocation C with (Nolock) on B.QCVehiclePositionReportID = C.QCVehiclePositionReportID
left join FleetmanagerEx.dbo.Location FC with (Nolock) on C.FM_LocID=FC.LocID
left join cteEq on B.EquipmentID=cteEq.EquipmentID
Left Join cte on cte.EquipmentID = B.EquipmentID
where
(B.QCVehiclePositionReportID >= cte.QCEntry) or (cte.EquipmentID is NULL and B.EventTS >= DATEADD(day,-7, GETDATE())) ''', conn)

In [3]:
df = pd.DataFrame(QC1)

In [4]:
df.head(10)

,QCEntry,QCVehiclePositionReportID,EquipmentID,EventTSUTC,FM_LocID
0,235531541,237456140,18116,2021-01-25 21:46:59,NaN
1,235531541,237457108,18116,2021-01-25 21:46:59,NaN
2,235531541,237459496,18116,2021-01-25 21:46:59,NaN
3,235531541,237460308,18116,2021-01-25 21:46:59,NaN
4,235531541,237462255,18116,2021-01-25 21:46:59,NaN
5,235531541,237463207,18116,2021-01-25 21:46:59,NaN
6,235531541,237464110,18116,2021-01-25 21:46:59,NaN
7,235531541,237465983,18116,2021-01-25 21:46:59,NaN
8,235531541,237466867,18116,2021-01-25 21:46:59,NaN
9,235531541,237468925,18116,2021-01-25 21:46:59,NaN

#####

In [5]:
df.shape

(234963, 5)

# Sorting the Values and Filling the Null Location as 10101010
# Reset the index

In [6]:
df11= df.sort_values(['EquipmentID','EventTSUTC'], ascending=[True, True]).fillna(10101010).reset_index()

In [7]:
df11.head(5)

,index,QCEntry,QCVehiclePositionReportID,EquipmentID,EventTSUTC,FM_LocID
0,31474,259824634,259824634,19,2021-04-06 01:02:54,67567.0
1,28284,259791078,259791078,25,2021-04-05 22:39:35,10101010.0
2,29733,259791078,259793683,25,2021-04-05 22:51:17,10101010.0
3,29773,259791078,259794848,25,2021-04-05 22:54:36,10101010.0
4,30866,259791078,259798563,25,2021-04-05 23:09:21,10101010.0

In [8]:
df11.index

RangeIndex(start=0, stop=234963, step=1)

# Defining the For Loop With IF else Condition to Extract athe fist and last ID of each location

In [9]:
output = []
index2 = 0
for index in df11.index:
        if index == 0:
            print('start')
        else:
            if (df11.loc[index,'EquipmentID']==df11.loc[index-1,'EquipmentID']) and (df11.loc[index,'FM_LocID']==df11.loc[index-1,'FM_LocID']):
                if (index2==0):
                    output.append(df11.loc[index-1,['EquipmentID','QCVehiclePositionReportID','EventTSUTC','FM_LocID']].to_list())
                    index2 += 1
            else:
                output.append(df11.loc[index-1,['EquipmentID','QCVehiclePositionReportID','EventTSUTC','FM_LocID']].to_list())
                index2 = 0
output

start

[[19, 259824634, Timestamp('2021-04-06 01:02:54'), 67567.0],
 [25, 259791078, Timestamp('2021-04-05 22:39:35'), 10101010.0],
 [25, 260045922, Timestamp('2021-04-06 16:47:06'), 10101010.0],
 [40, 231652384, Timestamp('2021-01-14 21:11:40'), 10101010.0],
 [40, 231657051, Timestamp('2021-01-14 21:27:05'), 10101010.0],
 [64, 246775166, Timestamp('2021-02-24 02:04:16'), 31390.0],
 [64, 253359419, Timestamp('2021-03-15 12:04:54'), 31390.0],
 [69, 236249516, Timestamp('2021-01-27 14:40:15'), 81905.0],
 [69, 236253911, Timestamp('2021-01-27 14:52:29'), 81905.0],
 [86, 256771051, Timestamp('2021-03-25 18:32:01'), 10101010.0],
 [86, 256816581, Timestamp('2021-03-25 20:54:46'), 10101010.0],
 [87, 259954932, Timestamp('2021-04-06 11:22:50'), 10101010.0],
 [87, 260046134, Timestamp('2021-04-06 16:50:42'), 10101010.0],
 [116, 259983304, Timestamp('2021-04-06 13:18:31'), 10101010.0],
 [116, 260041692, Timestamp('2021-04-06 16:34:38'), 10101010.0],
 [116, 260043052, Timestamp('2021-04-06 16:38:59'), 16443.0],
 [118, 260038552, Timestamp('2021-04-06 16:20:20'), 10101010.0],
 [118, 260046022, Timestamp('2021-04-06 16:48:41'), 10101010.0],
 [166, 260037231, Timestamp('2021-04-02 19:15:52'), 10101010.0],
 [166, 260046067, Timestamp('2021-04-06 16:49:25'), 10101010.0],
 [174, 259037294, Timestamp('2021-04-02 01:17:17'), 68237.0],
 [174, 259042342, Timestamp('2021-04-02 01:39:59'), 68237.0],
 [182, 260039261, Timestamp('2021-04-06 16:21:03'), 81905.0],
 [182, 260042243, Timestamp('2021-04-06 16:32:44'), 81905.0],
 [192, 254260087, Timestamp('2021-03-17 20:48:05'), 139558.0],
 [192, 257762393, Timestamp('2021-03-29 16:49:06'), 139558.0],
 [203, 242632598, Timestamp('2021-02-12 20:40:06'), 81905.0],
 [203, 242636198, Timestamp('2021-02-12 20:53:48'), 81905.0],
 [220, 238754868, Timestamp('2021-02-03 05:23:15'), 1.0],
 [220, 239411546, Timestamp('2021-02-04 18:24:53'), 1.0],
 [223, 248996375, Timestamp('2021-03-01 22:35:31'), 10101010.0],
 [223, 259920427, Timestamp('2021-03-01 23:13:29'), 10101010.0],
 [235, 260009371, Timestamp('2021-04-06 14:48:27'), 100163.0],
 [235, 260010798, Timestamp('2021-04-06 14:53:38'), 10101010.0],
 [235, 260044400, Timestamp('2021-04-06 16:40:43'), 10101010.0],
 [241, 260038855, Timestamp('2021-04-06 16:20:41'), 81905.0],
 [241, 260038857, Timestamp('2021-04-06 16:23:30'), 81905.0],
 [263, 260033851, Timestamp('2021-04-06 16:01:01'), 90900.0],
 [263, 260033858, Timestamp('2021-04-06 16:08:06'), 90900.0],
 [263, 260042077, Timestamp('2021-04-06 16:34:18'), 9980.0],
 [263, 260043802, Timestamp('2021-04-06 16:35:19'), 10101010.0],
 [263, 260046533, Timestamp('2021-04-06 16:49:33'), 10101010.0],
 [281, 258237267, Timestamp('2021-03-30 21:56:16'), 31390.0],
 [281, 260037765, Timestamp('2021-04-06 08:55:12'), 31390.0],
 [319, 259961019, Timestamp('2021-04-06 11:46:36'), 10101010.0],
 [319, 260044640, Timestamp('2021-04-06 16:45:49'), 10101010.0],
 [324, 259881444, Timestamp('2021-04-06 05:27:12'), 68237.0],
 [324, 259927172, Timestamp('2021-04-06 09:22:13'), 68237.0],
 [329, 250201020, Timestamp('2021-03-04 15:19:56'), 10101010.0],
 [329, 250204504, Timestamp('2021-03-04 15:29:05'), 10101010.0],
 [336, 232021905, Timestamp('2021-01-15 18:54:15'), 50800.0],
 [336, 232081255, Timestamp('2021-01-15 19:01:20'), 50800.0],
 [342, 236764247, Timestamp('2021-01-28 18:57:25'), 1.0],
 [342, 236840667, Timestamp('2021-01-28 22:38:53'), 1.0],
 [366, 229563456, Timestamp('2021-01-08 21:57:26'), 147367.0],
 [366, 229572014, Timestamp('2021-01-08 22:27:32'), 147367.0],
 [387, 259822434, Timestamp('2021-04-06 00:54:25'), 10101010.0],
 [387, 260042701, Timestamp('2021-04-06 16:36:15'), 10101010.0],
 [389, 259449331, Timestamp('2021-04-04 03:09:05'), 68237.0],
 [389, 259450511, Timestamp('2021-04-04 03:21:23'), 68237.0],
 [397, 260022902, Timestamp('2021-04-06 15:35:50'), 10101010.0],
 [397, 260046139, Timestamp('2021-04-06 16:50:54'), 10101010.0],
 [474, 259894974, Timestamp('2021-04-06 06:41:24'), 71936.0],
 [474, 259941342, Timestamp('2021-04-06 10:26:46'), 71936.0],
 [486, 258683320, Timestamp('2021-04-01 02:25:07'), 10101010.0],
 [486, 259810164, Timestamp('2021-04-05 23:57:10'), 10101010.0],
 [552, 260037186, Timestamp('2021-04-06 16:16:31'), 10101010.0],
 [555, 247100011, Timestamp('2021-02-03 14:58:44'), 1.0],
 [561, 259678302, Timestamp('2021-04-05 14:40:26'), 68237.0],
 [561, 259681705, Timestamp('2021-04-05 15:00:38'), 68237.0],
 [599, 259568854, Timestamp('2021-04-05 01:51:42'), 10101010.0],
 [599, 259569040, Timestamp('2021-04-05 01:54:53'), 10101010.0],
 [611, 257368712, Timestamp('2021-03-27 17:58:50'), 94324.0],
 [611, 257425240, Timestamp('2021-03-28 02:23:16'), 94324.0],
 [630, 245008961, Timestamp('2021-02-19 05:41:50'), 31390.0],
 [630, 245142514, Timestamp('2021-02-19 13:52:03'), 31390.0],
 [664, 259865526, Timestamp('2021-04-06 04:09:34'), 10101010.0],
 [664, 260044565, Timestamp('2021-04-06 16:44:32'), 10101010.0],
 [665, 259476941, Timestamp('2021-04-04 09:25:28'), 94324.0],
 [665, 259477310, Timestamp('2021-04-04 09:32:18'), 94324.0],
 [678, 234632736, Timestamp('2021-01-09 18:08:41'), 1.0],
 [719, 244728652, Timestamp('2021-02-18 14:57:32'), 1.0],
 [719, 246609436, Timestamp('2021-02-18 15:04:00'), 1.0],
 [726, 254271207, Timestamp('2021-03-17 21:24:27'), 31390.0],
 [726, 255390684, Timestamp('2021-03-19 21:17:52'), 31390.0],
 [727, 254555011, Timestamp('2021-03-18 16:09:09'), 31390.0],
 [727, 254613963, Timestamp('2021-03-18 19:15:07'), 31390.0],
 [728, 258623528, Timestamp('2021-03-31 22:51:45'), 31390.0],
 [728, 260037774, Timestamp('2021-04-02 05:18:26'), 31390.0],
 [734, 241242391, Timestamp('2021-02-09 18:05:16'), 1.0],
 [734, 241273258, Timestamp('2021-02-09 18:49:12'), 1.0],
 [737, 244718982, Timestamp('2021-02-18 14:28:00'), 1.0],
 [737, 246612135, Timestamp('2021-02-18 23:02:49'), 1.0],
 [750, 255008343, Timestamp('2021-03-19 20:45:26'), 31390.0],
 [750, 256321172, Timestamp('2021-03-24 14:39:44'), 31390.0],
 [760, 227886294, Timestamp('2021-01-04 17:28:15'), 77626.0],
 [760, 227900331, Timestamp('2021-01-04 18:25:48'), 77626.0],
 [772, 233377238, Timestamp('2021-01-19 21:34:20'), 1.0],
 [772, 235956888, Timestamp('2021-01-26 21:06:59'), 1.0],
 [780, 260038792, Timestamp('2021-04-06 16:20:50'), 125071.0],
 [780, 260041767, Timestamp('2021-04-06 16:35:05'), 125071.0],
 [780, 260044311, Timestamp('2021-04-06 16:36:06'), 10101010.0],
 [780, 260046221, Timestamp('2021-04-06 16:49:21'), 10101010.0],
 [804, 260041060, Timestamp('2021-04-06 16:29:59'), 77800.0],
 [804, 260045874, Timestamp('2021-04-06 16:46:16'), 10101010.0],
 [804, 260045903, Timestamp('2021-04-06 16:46:51'), 10101010.0],
 [820, 260001234, Timestamp('2021-04-06 14:16:39'), 142712.0],
 [820, 260008343, Timestamp('2021-04-06 14:41:03'), 142712.0],
 [828, 259429569, Timestamp('2021-04-03 23:17:09'), 79526.0],
 [828, 259448918, Timestamp('2021-04-04 03:02:44'), 79526.0],
 [838, 260040129, Timestamp('2021-04-06 16:29:38'), 6819.0],
 [838, 260045971, Timestamp('2021-04-06 16:47:45'), 10101010.0],
 [839, 260012095, Timestamp('2021-04-06 14:55:52'), 100834.0],
 [839, 260029575, Timestamp('2021-04-06 15:56:02'), 100834.0],
 [839, 260042987, Timestamp('2021-04-06 16:37:17'), 10101010.0],
 [839, 260044417, Timestamp('2021-04-06 16:41:05'), 10101010.0],
 [852, 259775004, Timestamp('2021-04-05 21:30:27'), 76772.0],
 [852, 259777143, Timestamp('2021-04-05 21:41:13'), 76772.0],
 [859, 260022918, Timestamp('2021-04-06 15:36:05'), 52750.0],
 [859, 260027370, Timestamp('2021-04-06 15:46:23'), 52750.0],
 [865, 259220316, Timestamp('2021-04-02 17:34:35'), 52750.0],
 [865, 259802102, Timestamp('2021-04-05 23:23:27'), 52750.0],
 [885, 259936496, Timestamp('2021-04-06 10:02:17'), 10101010.0],
 [885, 259937858, Timestamp('2021-04-06 10:11:56'), 10101010.0],
 [892, 259895040, Timestamp('2021-04-06 06:44:16'), 81905.0],
 [892, 259945072, Timestamp('2021-04-06 10:41:55'), 81905.0],
 [909, 260039119, Timestamp('2021-04-06 16:20:13'), 31390.0],
 [909, 260042091, Timestamp('2021-04-06 16:31:06'), 31390.0],
 [909, 260045013, Timestamp('2021-04-06 16:41:16'), 10101010.0],
 [909, 260046552, Timestamp('2021-04-06 16:49:36'), 10101010.0],
 [912, 260021187, Timestamp('2021-04-06 15:27:46'), 10101010.0],
 [912, 260044493, Timestamp('2021-04-06 16:42:48'), 10101010.0],
 [939, 260016751, Timestamp('2021-04-06 15:14:01'), 120386.0],
 [939, 260043025, Timestamp('2021-04-06 16:38:17'), 120386.0],
 [948, 248316973, Timestamp('2021-02-27 19:38:31'), 50800.0],
 [948, 248405704, Timestamp('2021-02-28 03:30:28'), 50800.0],
 [953, 260022765, Timestamp('2021-04-06 15:32:56'), 10101010.0],
 [953, 260036576, Timestamp('2021-04-06 16:16:54'), 10101010.0],
 [953, 260041361, Timestamp('2021-04-06 16:31:49'), 125339.0],
 [953, 260043083, Timestamp('2021-04-06 16:39:43'), 10101010.0],
 [968, 259241434, Timestamp('2021-04-02 19:40:22'), 31390.0],
 [968, 259422857, Timestamp('2021-04-03 22:05:24'), 31390.0],
 [971, 260040065, Timestamp('2021-04-06 16:28:23'), 141965.0],
 [971, 260044520, Timestamp('2021-04-06 16:43:19'), 10101010.0],
 [997, 260038611, Timestamp('2021-04-06 16:21:51'), 120475.0],
 [997, 260042965, Timestamp('2021-04-06 16:36:52'), 120475.0],
 [1002, 234881765, Timestamp('2021-01-23 16:11:12'), 81905.0],
 [1004, 260010102, Timestamp('2021-04-06 14:49:23'), 146435.0],
 [1004, 260030305, Timestamp('2021-04-06 15:50:11'), 146435.0],
 [1004, 260043374, Timestamp('2021-04-06 16:35:18'), 10101010.0],
 [1004, 260045362, Timestamp('2021-04-06 16:43:16'), 10101010.0],
 [1010, 260031113, Timestamp('2021-04-06 16:01:26'), 10101010.0],
 [1010, 260045900, Timestamp('2021-04-06 16:46:44'), 10101010.0],
 [1011, 260031152, Timestamp('2021-04-06 16:01:51'), 10101010.0],
 [1011, 260036557, Timestamp('2021-04-06 16:16:52'), 10101010.0],
 [1011, 260041232, Timestamp('2021-04-06 16:31:27'), 125385.0],
 [1011, 260044562, Timestamp('2021-04-06 16:44:27'), 10101010.0],
 [1022, 259002351, Timestamp('2021-04-01 23:15:26'), 81905.0],
 [1022, 259002357, Timestamp('2021-04-01 23:15:42'), 81905.0],
 [1031, 260024660, Timestamp('2021-04-06 15:45:14'), 10101010.0],
 [1031, 260035672, Timestamp('2021-04-06 16:12:05'), 10101010.0],
 [1031, 260040010, Timestamp('2021-04-06 16:26:34'), 77626.0],
 [1031, 260044468, Timestamp('2021-04-06 16:42:14'), 10101010.0],
 [1031, 260044615, Timestamp('2021-04-06 16:45:09'), 10101010.0],
 [1054, 260040029, Timestamp('2021-04-06 16:27:25'), 77304.0],
 [1054, 260044466, Timestamp('2021-04-06 16:42:24'), 10101010.0],
 [1068, 260012318, Timestamp('2021-04-06 15:00:30'), 10101010.0],
 [1068, 260016810, Timestamp('2021-04-06 15:15:08'), 10101010.0],
 [1097, 259540804, Timestamp('2021-04-04 22:07:44'), 76772.0],
 [1097, 259966205, Timestamp('2021-04-06 12:11:44'), 76772.0],
 [1103, 260038559, Timestamp('2021-04-06 16:20:32'), 116901.0],
 [1103, 260038585, Timestamp('2021-04-06 16:21:05'), 116901.0],
 [1103, 260042580, Timestamp('2021-04-06 16:35:37'), 10101010.0],
 [1103, 260046137, Timestamp('2021-04-06 16:50:43'), 10101010.0],
 [1104, 260029509, Timestamp('2021-04-06 15:55:12'), 10101010.0],
 [1104, 260043089, Timestamp('2021-04-06 16:39:49'), 10101010.0],
 [1117, 259735752, Timestamp('2021-04-05 18:41:02'), 131835.0],
 [1117, 260046015, Timestamp('2021-04-06 16:48:34'), 10101010.0],
 [1123, 260035546, Timestamp('2021-04-06 16:07:51'), 10101010.0],
 [1123, 260045819, Timestamp('2021-04-06 16:45:02'), 10101010.0],
 [1124, 260018084, Timestamp('2021-04-06 15:12:36'), 142712.0],
 [1124, 260022579, Timestamp('2021-04-06 15:28:38'), 142712.0],
 [1131, 259929091, Timestamp('2021-04-06 09:32:34'), 52762.0],
 [1131, 260020547, Timestamp('2021-04-06 15:21:45'), 52762.0],
 [1132, 258986599, Timestamp('2021-04-01 22:08:42'), 31390.0],
 [1132, 259966067, Timestamp('2021-04-06 12:00:38'), 31390.0],
 [1134, 254232688, Timestamp('2021-03-17 19:13:34'), 10101010.0],
 [1134, 260008572, Timestamp('2021-04-06 14:45:06'), 10101010.0],
 [1137, 260039526, Timestamp('2021-04-06 16:20:48'), 142712.0],
 [1137, 260042501, Timestamp('2021-04-06 16:34:36'), 142712.0],
 [1137, 260042502, Timestamp('2021-04-06 16:34:54'), 10101010.0],
 [1137, 260042503, Timestamp('2021-04-06 16:34:58'), 142712.0],
 [1137, 260042504, Timestamp('2021-04-06 16:35:04'), 142712.0],
 [1137, 260043512, Timestamp('2021-04-06 16:35:18'), 10101010.0],
 [1137, 260045467, Timestamp('2021-04-06 16:44:22'), 10101010.0],
 [1140, 259091690, Timestamp('2021-04-02 05:28:24'), 31390.0],
 [1140, 260038460, Timestamp('2021-04-06 16:15:21'), 31390.0],
 [1156, 259951980, Timestamp('2021-04-06 11:06:29'), 52178.0],
 [1156, 259973172, Timestamp('2021-04-06 12:33:02'), 52178.0],
 [1168, 239675015, Timestamp('2021-02-05 09:32:09'), 10101010.0],
 [1168, 241790831, Timestamp('2021-02-07 01:55:43'), 10101010.0],
 [1172, 259988698, Timestamp('2021-04-06 13:33:04'), 10101010.0],
 [1172, 260046385, Timestamp('2021-04-06 16:48:42'), 10101010.0],
 [1198, 260038985, Timestamp('2021-04-06 16:20:24'), 10101010.0],
 [1198, 260038986, Timestamp('2021-04-06 16:20:30'), 142712.0],
 [1198, 260038989, Timestamp('2021-04-06 16:21:03'), 142712.0],
 [1198, 260038990, Timestamp('2021-04-06 16:21:37'), 10101010.0],
 [1198, 260046431, Timestamp('2021-04-06 16:50:08'), 10101010.0],
 [1201, 260007942, Timestamp('2021-04-06 14:44:37'), 10101010.0],
 [1201, 260044636, Timestamp('2021-04-06 16:45:53'), 10101010.0],
 [1208, 256758588, Timestamp('2021-03-25 17:45:44'), 81905.0],
 [1255, 248275988, Timestamp('2021-02-08 23:54:10'), 31390.0],
 [1262, 260039399, Timestamp('2021-04-06 16:20:51'), 68237.0],
 [1262, 260042357, Timestamp('2021-04-06 16:34:10'), 68237.0],
 [1262, 260044278, Timestamp('2021-04-06 16:35:12'), 10101010.0],
 [1262, 260045330, Timestamp('2021-04-06 16:44:25'), 10101010.0],
 [1265, 260019639, Timestamp('2021-03-30 12:51:15'), 31390.0],
 [1291, 258916876, Timestamp('2021-04-01 18:10:18'), 52178.0],
 [1291, 259221059, Timestamp('2021-04-02 17:39:28'), 52178.0],
 [1297, 253919415, Timestamp('2021-03-16 22:53:17'), 52178.0],
 [1297, 253948960, Timestamp('2021-03-17 00:34:43'), 52178.0],
 [1300, 260032708, Timestamp('2021-04-06 16:04:08'), 10101010.0],
 [1300, 260045946, Timestamp('2021-04-06 16:47:28'), 10101010.0],
 [1321, 259888735, Timestamp('2021-04-06 06:07:49'), 73258.0],
 [1321, 259889678, Timestamp('2021-04-06 06:14:52'), 73258.0],
 [1332, 245619515, Timestamp('2021-02-19 19:48:34'), 31390.0],
 [1332, 245806988, Timestamp('2021-02-21 16:13:19'), 31390.0],
 [1340, 259429591, Timestamp('2021-04-03 23:18:28'), 79526.0],
 [1373, 260039516, Timestamp('2021-04-06 16:20:44'), 133727.0],
 [1373, 260041006, Timestamp('2021-04-06 16:29:18'), 133727.0],
 [1382, 260008810, Timestamp('2021-04-06 14:40:54'), 125221.0],
 [1382, 260015709, Timestamp('2021-04-06 15:07:37'), 125221.0],
 [1388, 260041487, Timestamp('2021-04-06 09:03:46'), 52762.0],
 [1389, 260039868, Timestamp('2021-04-06 16:20:50'), 52178.0],
 [1389, 260042885, Timestamp('2021-04-06 16:34:37'), 52178.0],
 [1389, 260043285, Timestamp('2021-04-06 16:35:33'), 10101010.0],
 [1390, 260039292, Timestamp('2021-04-06 16:20:24'), 52178.0],
 [1390, 260040783, Timestamp('2021-04-06 16:26:00'), 52178.0],
 [1390, 260045230, Timestamp('2021-04-06 16:40:41'), 10101010.0],
 [1390, 260045239, Timestamp('2021-04-06 16:44:46'), 10101010.0],
 [1391, 259551693, Timestamp('2021-04-04 23:30:58'), 31390.0],
 [1391, 259985966, Timestamp('2021-04-06 13:22:15'), 31390.0],
 [1392, 257345945, Timestamp('2021-03-27 15:01:44'), 1.0],
 [1392, 257635244, Timestamp('2021-03-27 20:27:37'), 1.0],
 [1393, 259961687, Timestamp('2021-04-06 11:49:05'), 142712.0],
 [1393, 259964923, Timestamp('2021-04-06 12:03:22'), 142712.0],
 [1395, 259884081, Timestamp('2021-04-06 05:36:11'), 94324.0],
 [1395, 259885880, Timestamp('2021-04-06 05:48:21'), 94324.0],
 [1396, 259957869, Timestamp('2021-04-06 11:32:20'), 94324.0],
 [1396, 259962797, Timestamp('2021-04-06 11:52:31'), 94324.0],
 [1397, 259929007, Timestamp('2021-04-06 09:33:04'), 141731.0],
 [1397, 259934335, Timestamp('2021-04-06 09:52:41'), 141731.0],
 [1399, 260029582, Timestamp('2021-04-06 15:52:56'), 125990.0],
 [1399, 260033025, Timestamp('2021-04-06 16:05:51'), 125990.0],
 [1401, 259982888, Timestamp('2021-04-06 13:01:11'), 94324.0],
 [1401, 259997767, Timestamp('2021-04-06 14:02:16'), 94324.0],
 [1408, 260034371, Timestamp('2021-04-06 16:07:23'), 10101010.0],
 [1408, 260039370, Timestamp('2021-04-06 16:21:43'), 10101010.0],
 [1408, 260039371, Timestamp('2021-04-06 16:22:07'), 69280.0],
 [1408, 260040846, Timestamp('2021-04-06 16:25:47'), 69280.0],
 [1408, 260040847, Timestamp('2021-04-06 16:26:04'), 63360.0],
 [1408, 260040848, Timestamp('2021-04-06 16:26:24'), 10101010.0],
 [1408, 260040851, Timestamp('2021-04-06 16:27:36'), 10101010.0],
 [1408, 260040852, Timestamp('2021-04-06 16:27:49'), 140593.0],
 [1408, 260040854, Timestamp('2021-04-06 16:29:51'), 140593.0],
 [1408, 260042340, Timestamp('2021-04-06 16:30:52'), 80387.0],
 [1408, 260042342, Timestamp('2021-04-06 16:33:49'), 80387.0],
 [1408, 260043506, Timestamp('2021-04-06 16:36:28'), 10101010.0],
 [1408, 260045311, Timestamp('2021-04-06 16:44:51'), 10101010.0],
 [1410, 233745497, Timestamp('2021-01-20 19:06:14'), 77626.0],
 [1410, 233753902, Timestamp('2021-01-20 19:33:42'), 77626.0],
 [1416, 260009354, Timestamp('2021-04-06 14:48:11'), 10101010.0],
 [1416, 260046124, Timestamp('2021-04-06 16:50:28'), 10101010.0],
 [1420, 260021178, Timestamp('2021-04-06 15:27:36'), 10101010.0],
 [1420, 260038663, Timestamp('2021-04-06 16:22:47'), 10101010.0],
 [1420, 260043014, Timestamp('2021-04-06 16:37:58'), 40034.0],
 [1422, 229873043, Timestamp('2021-01-09 22:58:24'), 10101010.0],
 [1422, 229879132, Timestamp('2021-01-09 23:29:28'), 10101010.0],
 [1433, 259587399, Timestamp('2021-04-05 04:24:15'), 94324.0],
 [1433, 259838408, Timestamp('2021-04-06 01:57:39'), 94324.0],
 [1434, 260020086, Timestamp('2021-04-06 15:22:47'), 31390.0],
 [1434, 260023245, Timestamp('2021-04-06 15:31:11'), 31390.0],
 [1442, 258866261, Timestamp('2021-04-01 15:24:32'), 31390.0],
 [1442, 259958441, Timestamp('2021-04-06 11:30:47'), 31390.0],
 [1443, 260038717, Timestamp('2021-04-06 16:24:30'), 116605.0],
 [1443, 260043063, Timestamp('2021-04-06 16:39:08'), 10101010.0],
 [2452, 260029680, Timestamp('2021-04-06 15:54:06'), 142712.0],
 [2452, 260037378, Timestamp('2021-04-06 16:18:40'), 142712.0],
 [2453, 260038427, Timestamp('2021-04-06 16:19:59'), 10101010.0],
 [2453, 260045778, Timestamp('2021-04-06 16:44:59'), 10101010.0],
 [2454, 259345243, Timestamp('2021-04-03 10:02:27'), 52762.0],
 [2454, 260013442, Timestamp('2021-04-06 14:56:06'), 52762.0],
 [2455, 260038728, Timestamp('2021-04-06 16:24:40'), 132239.0],
 [2455, 260043098, Timestamp('2021-04-06 16:40:00'), 10101010.0],
 [2455, 260044557, Timestamp('2021-04-06 16:44:24'), 10101010.0],
 [2457, 254260157, Timestamp('2021-03-17 20:49:01'), 40237.0],
 [2457, 255953292, Timestamp('2021-03-23 15:30:22'), 40237.0],
 [2458, 259813408, Timestamp('2021-04-06 00:14:37'), 77626.0],
 [2458, 259867447, Timestamp('2021-04-06 04:15:16'), 77626.0],
 [2461, 260038744, Timestamp('2021-04-06 16:24:56'), 6819.0],
 [2461, 260044437, Timestamp('2021-04-06 16:41:27'), 10101010.0],
 [2474, 260008890, Timestamp('2021-04-06 14:41:16'), 10101010.0],
 [2474, 260017814, Timestamp('2021-04-06 15:14:00'), 10101010.0],
 [2476, 260032801, Timestamp('2021-04-06 16:06:09'), 135997.0],
 [2476, 260041709, Timestamp('2021-04-06 16:35:11'), 135997.0],
 [2476, 260044481, Timestamp('2021-04-06 16:42:36'), 10101010.0],
 [2478, 259957941, Timestamp('2021-04-06 11:34:53'), 10101010.0],
 [2478, 260045644, Timestamp('2021-04-06 16:44:54'), 10101010.0],
 [2486, 259950769, Timestamp('2021-04-06 11:01:47'), 141731.0],
 [2486, 259957197, Timestamp('2021-04-06 11:29:46'), 141731.0],
 [2487, 260031333, Timestamp('2021-04-06 15:57:44'), 10101010.0],
 [2487, 260037444, Timestamp('2021-04-06 16:18:28'), 10101010.0],
 [2487, 260038858, Timestamp('2021-04-06 16:20:24'), 74962.0],
 [2487, 260038862, Timestamp('2021-04-06 16:24:27'), 74962.0],

# Storing the Processed Data From List form to Data Frame

In [10]:
output_df = pd.DataFrame(output,columns=['EquipmentID','QCVehiclePositionReportID','EventTS_EST','LocId'])

In [11]:
output_df.head(10)

   EquipmentID  QCVehiclePositionReportID         EventTS_EST       LocId
0           19                  259824634 2021-04-06 01:02:54     67567.0
1           25                  259791078 2021-04-05 22:39:35  10101010.0
2           25                  260045922 2021-04-06 16:47:06  10101010.0
3           40                  231652384 2021-01-14 21:11:40  10101010.0
4           40                  231657051 2021-01-14 21:27:05  10101010.0
5           64                  246775166 2021-02-24 02:04:16     31390.0
6           64                  253359419 2021-03-15 12:04:54     31390.0
7           69                  236249516 2021-01-27 14:40:15     81905.0
8           69                  236253911 2021-01-27 14:52:29     81905.0
9           86                  256771051 2021-03-25 18:32:01  10101010.0

# --------------------------------------------------------------------------------------------------------------

# Taking copy of the data Frame

In [12]:
output_df1=output_df.copy()

# applying Lead Function to Shift one row From LocID and saving it as a new variable

In [13]:
output_df1['LocId_lead']=output_df1['LocId'].shift(-1)

# applying Lead Function to Shift one row From EventTS_EST_lead and saving it as a new variable

In [14]:
output_df1['EventTS_EST_lead']=output_df1['EventTS_EST'].shift(-1)

# applying Lead Function to Shift one row From QCVehiclePositionReportID_lead  and saving it as a new variable

In [15]:
output_df1['QCVehiclePositionReportID_lead']=output_df1['QCVehiclePositionReportID'].shift(-1)

# Find the difference between LocLead and LocID

In [16]:
output_df1['Diff']=output_df1['LocId_lead']-output_df1['LocId']

# Defining the for loop to Set flages as 0 and 1 for DIFF

In [17]:
def shift(x):
    if x == 0:
        return 1
    else:
        return 0

In [18]:
output_df1['Shift_Flag']=output_df1['Diff'].apply(lambda x: shift(x))

# Defining the for loop to Set flages as 0 and 1 for EquipmentID_lead

In [19]:
def shiftFlag(x,y,z):
    if x==1 and y !=z:
        return 1
    else:
        return 0

In [20]:
output_df1['EquipmentID_lead']=output_df1['EquipmentID'].shift(-1)

In [21]:
output_df1['Flag']=output_df1.apply(lambda x: shiftFlag(x.Shift_Flag,x.EquipmentID,x.EquipmentID_lead),axis=1)

In [22]:
output_df1=output_df1[output_df1['Flag'] == 0]

In [23]:
output_df1.head(10)

,EquipmentID,QCVehiclePositionReportID,EventTS_EST,LocId,LocId_lead,EventTS_EST_lead,QCVehiclePositionReportID_lead,Diff,Shift_Flag,EquipmentID_lead,Flag
0,19,259824634,2021-04-06 01:02:54,67567.0,10101010.0,2021-04-05 22:39:35,259791078.0,10033443.0,0,25.0,0
1,25,259791078,2021-04-05 22:39:35,10101010.0,10101010.0,2021-04-06 16:47:06,260045922.0,0.0,1,25.0,0
3,40,231652384,2021-01-14 21:11:40,10101010.0,10101010.0,2021-01-14 21:27:05,231657051.0,0.0,1,40.0,0
4,40,231657051,2021-01-14 21:27:05,10101010.0,31390.0,2021-02-24 02:04:16,246775166.0,-10069620.0,0,64.0,0
5,64,246775166,2021-02-24 02:04:16,31390.0,31390.0,2021-03-15 12:04:54,253359419.0,0.0,1,64.0,0
6,64,253359419,2021-03-15 12:04:54,31390.0,81905.0,2021-01-27 14:40:15,236249516.0,50515.0,0,69.0,0
7,69,236249516,2021-01-27 14:40:15,81905.0,81905.0,2021-01-27 14:52:29,236253911.0,0.0,1,69.0,0
8,69,236253911,2021-01-27 14:52:29,81905.0,10101010.0,2021-03-25 18:32:01,256771051.0,10019105.0,0,86.0,0
9,86,256771051,2021-03-25 18:32:01,10101010.0,10101010.0,2021-03-25 20:54:46,256816581.0,0.0,1,86.0,0
11,87,259954932,2021-04-06 11:22:50,10101010.0,10101010.0,2021-04-06 16:50:42,260046134.0,0.0,1,87.0,0

# keeping all the 1 and removing 0 ie. all the multiple entries

In [24]:
output_df_final1=output_df1[output_df1['Shift_Flag'] == 1]

In [25]:
output_df_final1.head()

,EquipmentID,QCVehiclePositionReportID,EventTS_EST,LocId,LocId_lead,EventTS_EST_lead,QCVehiclePositionReportID_lead,Diff,Shift_Flag,EquipmentID_lead,Flag
1,25,259791078,2021-04-05 22:39:35,10101010.0,10101010.0,2021-04-06 16:47:06,260045922.0,0.0,1,25.0,0
3,40,231652384,2021-01-14 21:11:40,10101010.0,10101010.0,2021-01-14 21:27:05,231657051.0,0.0,1,40.0,0
5,64,246775166,2021-02-24 02:04:16,31390.0,31390.0,2021-03-15 12:04:54,253359419.0,0.0,1,64.0,0
7,69,236249516,2021-01-27 14:40:15,81905.0,81905.0,2021-01-27 14:52:29,236253911.0,0.0,1,69.0,0
9,86,256771051,2021-03-25 18:32:01,10101010.0,10101010.0,2021-03-25 20:54:46,256816581.0,0.0,1,86.0,0

In [26]:
Non_single=output_df_final1[['EquipmentID','LocId','QCVehiclePositionReportID','QCVehiclePositionReportID_lead','EventTS_EST','EventTS_EST_lead']]

In [27]:
Non_single.head()

,EquipmentID,LocId,QCVehiclePositionReportID,QCVehiclePositionReportID_lead,EventTS_EST,EventTS_EST_lead
1,25,10101010.0,259791078,260045922.0,2021-04-05 22:39:35,2021-04-06 16:47:06
3,40,10101010.0,231652384,231657051.0,2021-01-14 21:11:40,2021-01-14 21:27:05
5,64,31390.0,246775166,253359419.0,2021-02-24 02:04:16,2021-03-15 12:04:54
7,69,81905.0,236249516,236253911.0,2021-01-27 14:40:15,2021-01-27 14:52:29
9,86,10101010.0,256771051,256816581.0,2021-03-25 18:32:01,2021-03-25 20:54:46

# Renaming Non_Single entry variables names as required

In [28]:
Non_single.rename(columns = {'LocId':'FMLocId', 'QCVehiclePositionReportID':'QCVehiclePositionReportID_Entry', 
                             'QCVehiclePositionReportID_lead':'QCVehiclePositionReportID_Exit','EventTS_EST':'EventTS_Entry',
                             'EventTS_EST_lead':'EventTS_Exit'}, inplace = True)

C:\Users\Dinesh\Anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [29]:
Non_single.head(10)

,EquipmentID,FMLocId,QCVehiclePositionReportID_Entry,QCVehiclePositionReportID_Exit,EventTS_Entry,EventTS_Exit
1,25,10101010.0,259791078,260045922.0,2021-04-05 22:39:35,2021-04-06 16:47:06
3,40,10101010.0,231652384,231657051.0,2021-01-14 21:11:40,2021-01-14 21:27:05
5,64,31390.0,246775166,253359419.0,2021-02-24 02:04:16,2021-03-15 12:04:54
7,69,81905.0,236249516,236253911.0,2021-01-27 14:40:15,2021-01-27 14:52:29
9,86,10101010.0,256771051,256816581.0,2021-03-25 18:32:01,2021-03-25 20:54:46
11,87,10101010.0,259954932,260046134.0,2021-04-06 11:22:50,2021-04-06 16:50:42
13,116,10101010.0,259983304,260041692.0,2021-04-06 13:18:31,2021-04-06 16:34:38
16,118,10101010.0,260038552,260046022.0,2021-04-06 16:20:20,2021-04-06 16:48:41
18,166,10101010.0,260037231,260046067.0,2021-04-02 19:15:52,2021-04-06 16:49:25
20,174,68237.0,259037294,259042342.0,2021-04-02 01:17:17,2021-04-02 01:39:59

# Taking 2nd Copy From Copy data

In [30]:
output_df2=output_df.copy()

In [31]:
output_df2['LocId_lead']=output_df2['LocId'].shift(-1)
output_df2['LocId_lag']=output_df2['LocId'].shift(1)

In [32]:
output_df2.head(5)

,EquipmentID,QCVehiclePositionReportID,EventTS_EST,LocId,LocId_lead,LocId_lag
0,19,259824634,2021-04-06 01:02:54,67567.0,10101010.0,NaN
1,25,259791078,2021-04-05 22:39:35,10101010.0,10101010.0,67567.0
2,25,260045922,2021-04-06 16:47:06,10101010.0,10101010.0,10101010.0
3,40,231652384,2021-01-14 21:11:40,10101010.0,10101010.0,10101010.0
4,40,231657051,2021-01-14 21:27:05,10101010.0,31390.0,10101010.0

# Defining logic to get all the single entires out seperately

In [33]:
def equals(a,b,c):
    if a!=b and a!=c:
        return 1
    else:
        return 0

In [34]:
output_df2['Single_entry']=output_df2.apply(lambda x: equals(x.LocId,x.LocId_lead,x.LocId_lag),axis=1)

In [35]:
output_df_final2=output_df2[output_df2['Single_entry'] == 1]

In [36]:
output_df_final2.head(5)

,EquipmentID,QCVehiclePositionReportID,EventTS_EST,LocId,LocId_lead,LocId_lag,Single_entry
0,19,259824634,2021-04-06 01:02:54,67567.0,10101010.0,NaN,1
15,116,260043052,2021-04-06 16:38:59,16443.0,10101010.0,10101010.0,1
32,235,260009371,2021-04-06 14:48:27,100163.0,10101010.0,10101010.0,1
39,263,260042077,2021-04-06 16:34:18,9980.0,10101010.0,90900.0,1
67,555,247100011,2021-02-03 14:58:44,1.0,68237.0,10101010.0,1

# taking all the single entry values

In [37]:
single=output_df_final2[['EquipmentID','QCVehiclePositionReportID','EventTS_EST','LocId']]

# marking down lead lag To find the continuation of QCVehiclePositionReportID

In [38]:
single['QCVehiclePositionReportID_lead']=single['QCVehiclePositionReportID']

<ipython-input-38-bc3892a9a6f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single['QCVehiclePositionReportID_lead']=single['QCVehiclePositionReportID']

# marking down lead lag To find the continuation of EventTS_EST

In [39]:
single['EventTS_EST_lead']=single['EventTS_EST']

<ipython-input-39-2b0038f66aee>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  single['EventTS_EST_lead']=single['EventTS_EST']

In [40]:
single.head()

,EquipmentID,QCVehiclePositionReportID,EventTS_EST,LocId,QCVehiclePositionReportID_lead,EventTS_EST_lead
0,19,259824634,2021-04-06 01:02:54,67567.0,259824634,2021-04-06 01:02:54
15,116,260043052,2021-04-06 16:38:59,16443.0,260043052,2021-04-06 16:38:59
32,235,260009371,2021-04-06 14:48:27,100163.0,260009371,2021-04-06 14:48:27
39,263,260042077,2021-04-06 16:34:18,9980.0,260042077,2021-04-06 16:34:18
67,555,247100011,2021-02-03 14:58:44,1.0,247100011,2021-02-03 14:58:44

# Renaming Single entry variables names as required

In [41]:
single.rename(columns = {'LocId':'FMLocId', 'QCVehiclePositionReportID':'QCVehiclePositionReportID_Entry', 
                             'QCVehiclePositionReportID_lead':'QCVehiclePositionReportID_Exit','EventTS_EST':'EventTS_Entry',
                             'EventTS_EST_lead':'EventTS_Exit'}, inplace = True)

C:\Users\Dinesh\Anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

# storing Renamed Single values as a data frame

In [42]:
single=single[['EquipmentID','FMLocId','QCVehiclePositionReportID_Entry','QCVehiclePositionReportID_Exit','EventTS_Entry','EventTS_Exit']]

In [43]:
single.head(5)

,EquipmentID,FMLocId,QCVehiclePositionReportID_Entry,QCVehiclePositionReportID_Exit,EventTS_Entry,EventTS_Exit
0,19,67567.0,259824634,259824634,2021-04-06 01:02:54,2021-04-06 01:02:54
15,116,16443.0,260043052,260043052,2021-04-06 16:38:59,2021-04-06 16:38:59
32,235,100163.0,260009371,260009371,2021-04-06 14:48:27,2021-04-06 14:48:27
39,263,9980.0,260042077,260042077,2021-04-06 16:34:18,2021-04-06 16:34:18
67,555,1.0,247100011,247100011,2021-02-03 14:58:44,2021-02-03 14:58:44

# Joining single and NoN single values

In [44]:
Final=Non_single.append(single)

In [45]:
Final

,EquipmentID,FMLocId,QCVehiclePositionReportID_Entry,QCVehiclePositionReportID_Exit,EventTS_Entry,EventTS_Exit
1,25,10101010.0,259791078,260045922.0,2021-04-05 22:39:35,2021-04-06 16:47:06
3,40,10101010.0,231652384,231657051.0,2021-01-14 21:11:40,2021-01-14 21:27:05
5,64,31390.0,246775166,253359419.0,2021-02-24 02:04:16,2021-03-15 12:04:54
7,69,81905.0,236249516,236253911.0,2021-01-27 14:40:15,2021-01-27 14:52:29
9,86,10101010.0,256771051,256816581.0,2021-03-25 18:32:01,2021-03-25 20:54:46
...,...,...,...,...,...,...
4370,18483,10101010.0,260044612,260044612.0,2021-04-06 16:45:24,2021-04-06 16:45:24
4371,18484,81905.0,260040089,260040089.0,2021-04-06 16:28:58,2021-04-06 16:28:58
4372,18484,10101010.0,260044538,260044538.0,2021-04-06 16:44:00,2021-04-06 16:44:00
4373,18485,81905.0,260041594,260041594.0,2021-04-06 16:33:09,2021-04-06 16:33:09
4374,18485,10101010.0,260046019,260046019.0,2021-04-06 16:48:35,2021-04-06 16:48:35

# After Appending the Two Data frame , sorting it by EventTS_Entry and Equipmentid

In [46]:
Final = Final.sort_values(['EquipmentID','EventTS_Entry'], ascending=[True, True])

In [47]:
Final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2332 entries, 0 to 4375
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   EquipmentID                      2332 non-null   int64
 1   FMLocId                          2332 non-null   float64
 2   QCVehiclePositionReportID_Entry  2332 non-null   int64
 3   QCVehiclePositionReportID_Exit   2332 non-null   float64
 4   EventTS_Entry                    2332 non-null   datetime64[ns]
 5   EventTS_Exit                     2332 non-null   datetime64[ns]
dtypes: datetime64[ns](2), float64(2), int64(2)
memory usage: 127.5 KB

In [48]:
Final.head(10)

,EquipmentID,FMLocId,QCVehiclePositionReportID_Entry,QCVehiclePositionReportID_Exit,EventTS_Entry,EventTS_Exit
0,19,67567.0,259824634,259824634.0,2021-04-06 01:02:54,2021-04-06 01:02:54
1,25,10101010.0,259791078,260045922.0,2021-04-05 22:39:35,2021-04-06 16:47:06
3,40,10101010.0,231652384,231657051.0,2021-01-14 21:11:40,2021-01-14 21:27:05
5,64,31390.0,246775166,253359419.0,2021-02-24 02:04:16,2021-03-15 12:04:54
7,69,81905.0,236249516,236253911.0,2021-01-27 14:40:15,2021-01-27 14:52:29
9,86,10101010.0,256771051,256816581.0,2021-03-25 18:32:01,2021-03-25 20:54:46
11,87,10101010.0,259954932,260046134.0,2021-04-06 11:22:50,2021-04-06 16:50:42
13,116,10101010.0,259983304,260041692.0,2021-04-06 13:18:31,2021-04-06 16:34:38
15,116,16443.0,260043052,260043052.0,2021-04-06 16:38:59,2021-04-06 16:38:59
16,118,10101010.0,260038552,260046022.0,2021-04-06 16:20:20,2021-04-06 16:48:41

# Final Data Frame with single and multiple entry combained

In [49]:
Final

,EquipmentID,FMLocId,QCVehiclePositionReportID_Entry,QCVehiclePositionReportID_Exit,EventTS_Entry,EventTS_Exit
0,19,67567.0,259824634,259824634.0,2021-04-06 01:02:54,2021-04-06 01:02:54
1,25,10101010.0,259791078,260045922.0,2021-04-05 22:39:35,2021-04-06 16:47:06
3,40,10101010.0,231652384,231657051.0,2021-01-14 21:11:40,2021-01-14 21:27:05
5,64,31390.0,246775166,253359419.0,2021-02-24 02:04:16,2021-03-15 12:04:54
7,69,81905.0,236249516,236253911.0,2021-01-27 14:40:15,2021-01-27 14:52:29
...,...,...,...,...,...,...
4371,18484,81905.0,260040089,260040089.0,2021-04-06 16:28:58,2021-04-06 16:28:58
4372,18484,10101010.0,260044538,260044538.0,2021-04-06 16:44:00,2021-04-06 16:44:00
4373,18485,81905.0,260041594,260041594.0,2021-04-06 16:33:09,2021-04-06 16:33:09
4374,18485,10101010.0,260046019,260046019.0,2021-04-06 16:48:35,2021-04-06 16:48:35
4375,18486,81905.0,259987126,260040166.0,2021-04-06 13:30:00,2021-04-06 16:30:33

# Loading / Inserting the  Final data frame into SQl Temp table

In [50]:
server = 'tcp:sqlserverprod'
database = 'Reporting'
conn= urllib.parse.quote_plus('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';Trusted_Connection=yes;')
engine = sa.create_engine('mssql+pyodbc:///?odbc_connect={}'.format(conn))
Final.to_sql("TruckGeofenceInOut_Temp", engine, schema='dvlpr', chunksize=200, method='multi', index=False, if_exists='replace')

In [51]:
conn1.commit()

# Calling the stored procedure in Sql to compare the data from temp table and main table and update the new values in the main table.

In [52]:
cursor1.execute("Exec [dvlpr].[DelUpdate_source]")

In [53]:
conn1.commit()

# Once update values into main table delete the values in the temp table

In [54]:
cursor1.execute("DELETE FROM Reporting.dvlpr.TruckGeofenceInOut_Temp")

In [55]:
conn1.commit()

# closing all the Connection and cursors Established

In [56]:
cursor.close()
cursor1.close()

In [57]:
conn1.close()

# ---------------------------------------------------------------------------------------------------------------
# ---------------------------------------------------------------------------------------------------------------